body {
  background-color: #D0DBE0;
}


/* Estilos del header */

header {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

.logo {
  width: 100px;
  height: 100px;
}

h4 {
  font-family: 'Shrikhand', cursive;
}

.logo-box {
  background-color: #4A4A4A;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 1.1rem;
}

.box-nav {
  display: flex;
  text-align: center;
  justify-content: center;
  border-bottom: 2px dotted white;
  margin-top: 16px;
}

.box-search {
  background-color: #4A4A4A;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Estilos de linea separadora */

.line {
  margin-top: 5px;
  border: 1px solid white;
}

/*  Estilo titulo */

.title {
  background-color: #F2EBD2;
  border: #E65A20 solid 0.1rem;
  border-radius: 1rem;
}

.color1 {
  height: 30vh;
  background-color: #D0DBE0;
  position: relative;
  top: 4rem;
}

.shadow {
  color: #E65A20;
  padding-top: 1.5rem;
  font-family: Arvo;
  font-weight: bold;
  text-shadow: -3px -3px 0 #000000, 3px -3px 0 #000000, -3px 3px 0 #000000, 3px 3px 0 #000000, 5px 5px 0 #ffffff, 6px 6px 0 #ffffff, 7px 7px 0 #ffffff, 8px 8px 0 #ffffff;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.1);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin: 0;
  text-align: center;
}

.handwriting {
  font-family: Pacifico;
  color: #E65A20;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin: 0;
}

.handwriting span {
  background-color: #F2EBD2;
  padding: 0 0.5em;
  position: relative;
  bottom: 0.3rem;
}

.handwriting:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  width: 90%;
  border-bottom: 2px solid #ffffff;
}

.article {
  font-size: 2rem;
}

.noun {
  font-size: 6rem;
}


/* .modal-box {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  border: #fffefe solid 0.7rem;
  margin: 3rem;
  box-sizing: border-box;
} */

.img-serie {
  width: 350px;
  height: 350px;
  border: #fffefe solid 0.7rem;
  margin: 3rem;
}

.name {
  font-family: 'Inconsolata', monospace;
  font-size: 1.5rem;
  font-weight: 800;
  padding-left: 2.5rem;
}

.modal-box {
  position: relative;
  top: 4rem;
}
.uppercase {
  text-transform: uppercase;
}