<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Enlace Icono de Pestaña-->
    <link rel="icon" href="">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../assets/plugins/faceMocion.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <!-- Enlace a hoja de estilo externa -->
    <link rel="stylesheet" href="../css/chat.css">
    <title>Flashback</title>
  </head>
  <body>
    <header>
      <nav style="background-color:#82B0B0;">
        <div class="nav-wrapper box-nav">
          <ul id="slide-out" class="side-nav">
            <li><a href="home.html">Inicio</a></li>
            <li><a href="noticias.html">Noticias</a></li>
            <li><a href="recomendaciones.html">Recomendaciones</a></li>
            <li><a href="buscar.html">Buscar</a></li>
            <li><a href="categorias.html">Categorias</a></li>
            <li><a href="categorias.html">Categorias</a></li>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="home.html"><h4>Home</h4></a></li>
            <li><a href="series.html"><h4>Series</h4></a></li>
            <li><a href="trivias.html"><h4>Chat</h4></a></li>
            <li class="logo-box"><img src="../assets/images/logo.png" class="responsive-img logo" alt="logo"></li>
            <li><a href="#modal3" class="modal-trigger"><h4>Bienvenido<span></span></h4></a></li>
            <li><a href="search.html"><div class="box-search"><i class="material-icons">search</i>
            </div></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="chat">
      <div class="box-chat">
        <div class="container">
          <div class="row">
            <!-- inicio de la caja de chat con bootstrap -->
            <div class="col s12">
              <div class="panel panel-primary">
                <div class="panel-body">
                  <ul class="chat-bd"> </ul>
                </div>
                <div class="panel-footer">
                  <div class="input-group">
                    <input id="mensaje" type="text" class="form-control input-sm" placeholder="Escribe un mensaje..."/>
                    <span class="input-group-btn">
                      <button class="btn btn-warning btn-sm" id="btnEnviar">Enviar</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!--  Fin de la caja de chat -->
          </div>
        </div>
        <!-- template del item del chat (Oculto: para agarrar un clon y llenarlo e insertar en el chat)-->
        <li style="display:none" id="plantilla">
            <span class="chat-img">
              <img src="http://placehold.it/50/55C1E7/fff&text=U"/>
            </span>
            <div class="chat-body">
              <div class="header">
                <strong class="primary-font nombre">Jack Sparrow</strong>
                <small><span class="glyphicon glyphicon-asterisk tiempo"></span></small>
              </div>
              <p class="mensaje">Mensaje</p>
            </div>
          </li>
      </div>
    </section>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/chat.js"></script>
  </body>
</html>
