<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Enlace Icono de Pestaña-->
    <link rel="icon" href="">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <!-- Enlace a hoja de estilo externa -->
    <link rel="stylesheet" href="../css/main.css">
    <title>Flashback</title>
  </head>
  <body>
    <header>

    </header>
    <section class="home">

    </section>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>
