<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Enlace Icono de Pestaña-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rancho&effect=destruction" />
    <!-- Enlace a hoja de estilo externa -->
    <link rel="stylesheet" href="../css/main.css">
    <title>Flashback</title>
  </head>
  <body class="red lighten-5 row">
    <header>
      <!-- nav -->
      <nav>
        <div class="nav-wrapper red lighten-3">
          <a href="home.html" class="brand-logo rigth"><img class="responsive-img" src="textt.png" height="50px" width="120px"></a>
          <ul id="slide-out" class="side-nav">
            <li><a href="home.html">Inicio</a></li>
            <li><a href="noticias.html">Noticias</a></li>
            <li><a href="recomendaciones.html">Recomendaciones</a></li>
            <li><a href="buscar.html">Buscar</a></li>
            <li><a href="categorias.html">Categorias</a></li>
            <li><a href="categorias.html">Categorias</a></li>
          </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="home.html">Inicio</a></li>
              <li class="active"><a href="noticias.html">Noticia</a></li>
              <li><a href="badges.html">Categorias</a></li>
              <li><a href="badges.html">Recomendadas</a></li>
              <li><a href="buscar.html"><i class="material-icons large">search</i></a></li>
              <li><a>Inicia Sesion</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <div class="row">
        <div class="col s12 m8">
          <h2 class="header">18 de Enero</h2>
          <div class="card horizontal brown lighten-5">
            <div class="card-image">
              <img src="https://media.licdn.com/mpr/mpr/shrinknp_800_800/AAEAAQAAAAAAAAQwAAAAJGRhZjY3Njg5LWIxNDktNGNiNS1iMjg5LWY1NDhmMGFlYjQyMA.jpg">
            </div>
            <div class="card-stacked">
            <div class="card-content">
              <p>Muerte de Frederick Hollander, compositor de música de cine alemán 1976 <br>
                Nacido en 1896 <br>
                Nacionalidad: Alemana <br>
                Cónyuge: Hedi Schoop <br>
                Información profesional Ocupación:	Compositor, músico, compositor de canciones y compositor de banda sonora.
             </p>
            </div>
            <div class="card-action">
              <a href="https://es.wikipedia.org/wiki/Frederick_Hollander">Leer más</a>
            </div>
            </div>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col s12 m8 offset-m4">
          <h2 class="header">18 de Enero</h2>
          <div class="card horizontal brown lighten-4">
            <div class="card-image">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/A_Day_at_School.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Nace Norvell Hardyen 1892, actor americano, miembro del dúo cómico El Gordo y el Flaco.<br>
                  Fallecimiento:	7 de agosto de 1957 <br>
                  Nacionalidad: Estadounidense <br>
                  Información profesional Ocupación: Actor, comediante, actor de cine y especialista de cine.
                 </p>
              </div>
              <div class="card-action">
                <a href="https://es.wikipedia.org/wiki/Oliver_Hardy">Leer más</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h1 class="font-effect-destruction aling-center">Proximas Fechas</h1>
            <!-- fecha importante abril -->
            <div class="row">
              <div class="col s12 m4">
                <div class="card purple lighten-5">
                  <div class="card-image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROC7ENvtf0WlftoOPTrsxDSjjfXkhZ0wT95dMyNUj6j28R70lwyA">
                    <span class="card-title">Abril</span>
                  </div>
                  <div class="card-content">
                    <p>1806 - Maximiliano José I, rey de Baviera, instituye la orden de Maximiliano José. <br>
                      1808 - Napoleón Bonaparte crea la llamada "nobleza imperial", formada por generales del Ejército. <br>
                      1815 - en España se establece el primer sistema de diligencias, que une Reus y Barcelona en once horas y media. <br>
                      1815 - Napoleón vuelve a Francia de su exilio en la Isla de Elba. Se inicia el periodo conocido como los Cien Días. <br>
                      1854 - Plan de Ayutla en México, que critica el conservadurismo del presidente Antonio López de Santa Anna. <br>
                      1867 - el estado de Nebraska pasa a formar parte de la Unión norteamericana.</p>
                  </div>
                  <div class="card-action">
                    <a href="http://www.hoyenlahistoria.com/dia/abril/1">Leer más</a>
                  </div>
                </div>
              </div>

              <!-- fecha importante mayo -->
              <div class="row">
                <div class="col s12 m4">
                  <div class="card purple lighten-5">
                    <div class="card-image">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUUUAhbe4TzHki8gF_haqC-diPu0_ddA5HbHXtJXggISa2m1x5Dg">
                      <span class="card-title">Mayo</span>
                    </div>
                    <div class="card-content">
                      <p>1806 - Maximiliano José I, rey de Baviera, instituye la orden de Maximiliano José. <br>
                        1808 - Napoleón Bonaparte crea la llamada "nobleza imperial", formada por generales del Ejército. <br>
                        1815 - en España se establece el primer sistema de diligencias, que une Reus y Barcelona en once horas y media. <br>
                        1815 - Napoleón vuelve a Francia de su exilio en la Isla de Elba. Se inicia el periodo conocido como los Cien Días. <br>
                        1854 - Plan de Ayutla en México, que critica el conservadurismo del presidente Antonio López de Santa Anna. <br>
                        1867 - el estado de Nebraska pasa a formar parte de la Unión norteamericana.</p>
                    </div>
                    <div class="card-action">
                      <a href="http://www.hoyenlahistoria.com/dia/mayo/1">Leer más</a>
                    </div>
                  </div>
                </div>

                <!-- fecha importante junio -->
                <div class="row">
                  <div class="col s12 m4">
                    <div class="card purple lighten-5">
                      <div class="card-image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJSSx0gra_CQwG6n5UQKGL1Nu7NA-Hc4PQHjI5slGj-if1geBg">
                        <span class="card-title">Junio</span>
                      </div>
                      <div class="card-content">
                        <p>1806 - Maximiliano José I, rey de Baviera, instituye la orden de Maximiliano José. <br>
                          1808 - Napoleón Bonaparte crea la llamada "nobleza imperial", formada por generales del Ejército. <br>
                          1815 - en España se establece el primer sistema de diligencias, que une Reus y Barcelona en once horas y media. <br>
                          1815 - Napoleón vuelve a Francia de su exilio en la Isla de Elba. Se inicia el periodo conocido como los Cien Días. <br>
                          1854 - Plan de Ayutla en México, que critica el conservadurismo del presidente Antonio López de Santa Anna. <br>
                          1867 - el estado de Nebraska pasa a formar parte de la Unión norteamericana.</p>
                      </div>
                      <div class="card-action">
                        <a href="http://www.hoyenlahistoria.com/dia/junio/1">Leer más</a>
                      </div>
                    </div>
                  </div>
                    <!-- fechas importante marzo -->
            <div class="row">
              <div class="col s12 m4">
                <div class="card purple lighten-5">
                  <div class="card-image">
                    <img src="https://i.pinimg.com/originals/2e/c8/84/2ec8847f6ab88f1b777c08a217c2e386.jpg">
                    <span class="card-title">Marzo</span>
                  </div>
                  <div class="card-content">
                    <p>1806 - Maximiliano José I, rey de Baviera, instituye la orden de Maximiliano José. <br>
                      1808 - Napoleón Bonaparte crea la llamada "nobleza imperial", formada por generales del Ejército. <br>
                      1815 - en España se establece el primer sistema de diligencias, que une Reus y Barcelona en once horas y media. <br>
                      1815 - Napoleón vuelve a Francia de su exilio en la Isla de Elba. Se inicia el periodo conocido como los Cien Días. <br>
                      1854 - Plan de Ayutla en México, que critica el conservadurismo del presidente Antonio López de Santa Anna. <br>
                      1867 - el estado de Nebraska pasa a formar parte de la Unión norteamericana.</p>
                    </div>
                  <div class="card-action">
                    <a href="http://www.hoyenlahistoria.com/dia/marzo/1">Leer más</a>
                  </div>
                </div>
              </div>
            </div>
</div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  </body>
</html>
