<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Enlace Icono de Pestaña-->
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rancho&effect=destruction" />
    <!-- Enlace a hoja de estilo externa -->
    <link rel="stylesheet" href="../css/main.css">
    <title>Flashback</title>
  </head>
  <body class="red lighten-5 row">
    <header>
      <!-- nav -->
      <!-- <nav>
        <div class="nav-wrapper red lighten-3">
          <a href="home.html" class="brand-logo center"><img class="responsive-img" src="textt.png" height="50px" width="120px"></a>
          <ul id="slide-out" class="side-nav">
            <li><div class="user-view">
          <div class="background">
            <img src="https://i.pinimg.com/originals/23/a9/5e/23a95effcdc9c69dbf8e7c3e35074e2d.jpg">
          </div>
          <a href="#!user"><img class="circle" src="../assets/he.jpg"></a>
          <a href="#!name"><span class="white-text name">User</span></a>
          <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
          </div></li>
              <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
              <li><a href="#!">Second Link</a></li>
              <li><div class="divider"></div></li>
              <li><a class="subheader">Subheader</a></li>
              <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="home.html">Inicio</a></li>
              <li class="active"><a href="noticias.html">Noticia</a></li>
              <li><a href="badges.html">Categorias</a></li>
              <li><a href="badges.html">Recomendadas</a></li>
              <li><a href="sass.html"><i class="material-icons">search</i></a></li>
            </ul>
          </div>
        </nav>
      </header> -->
      <ul id="slide-out" class="side-nav">
            <li><a href="#!">First Sidebar Link</a></li>
            <li><a href="#!">Second Sidebar Link</a></li>
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header">Dropdown<i class="material-icons">arrow_drop_down</i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="#!">First</a></li>
                      <li><a href="#!">Second</a></li>
                      <li><a href="#!">Third</a></li>
                      <li><a href="#!">Fourth</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li><a href="#!">First Sidebar Link</a></li>
            <li><a href="#!">Second Sidebar Link</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
            <ul id='dropdown1' class='dropdown-content'>
              <li><a href="#!">First</a></li>
              <li><a href="#!">Second</a></li>
              <li><a href="#!">Third</a></li>
              <li><a href="#!">Fourth</a></li>
            </ul>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>




          <h3 class="font">ABOUT</h3>





</div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/home.js"></script>
  </body>
</html>
