<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Enlace Icono de Pestaña-->
  <link rel="icon" href="">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <!-- Enlace a hoja de estilo externa -->
  <link rel="stylesheet" href="../css/series.css">
  <title>Flashback</title>
</head>

<body>
  <header>
    <nav style="background-color:#82B0B0;">
      <div class="nav-wrapper box-nav">
        <ul id="slide-out" class="side-nav">
          <li>
            <a href="home.html">Inicio</a>
          </li>
          <li>
            <a href="noticias.html">Noticias</a>
          </li>
          <li>
            <a href="recomendaciones.html">Recomendaciones</a>
          </li>
          <li>
            <a href="buscar.html">Buscar</a>
          </li>
          <li>
            <a href="categorias.html">Categorias</a>
          </li>
          <li>
            <a href="categorias.html">Categorias</a>
          </li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="home.html">
              <h4>Home</h4>
            </a>
          </li>
          <li>
            <a href="series.html">
              <h4>Series</h4>
            </a>
          </li>
          <li>
            <a href="chat.html">
              <h4>Chat</h4>
            </a>
          </li>
          <li class="logo-box">
            <img src="../assets/images/logo.png" class="responsive-img logo" alt="logo">
          </li>
          <li>
            <a href="#modal3" class="modal-trigger">
              <h4>Login</h4>
            </a>
          </li>
          <li>
            <a href="#modal2" class="modal-trigger">
              <h4>Register</h4>
            </a>
          </li>
          <li>
            <a href="search.html">
              <div class="box-search">
                <i class="material-icons">search</i>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="color1">
    <div class="container title">
      <div class="row">
        <div class="col m12 s12">
          <p class="handwriting">
          </p>
          <p class="shadow noun">SERIES RETRO</p>
          <p class="handwriting">
            <span>Sentimientos de antaño</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="series-box">
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div>
        <h5 class="title uppercase center"></h5>
      </div>
      <div class="content">
        <div>
          <iframe class="video" width="450" height="280" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div>
          <span class="bold">Género: </span>
          <span class="genre"></span>
        </div>
        <div>
          <span class="bold">Temporadas:</span>
          <span class="seasons"></span>
        </div>
        <div>
          <span class="bold">Episodios: </span>
          <span class="episodes"></span>
        </div>
        <div>
          <span class="bold">Duración: </span>
          <span class="duration"></span>
        </div>
        <div>
          <span class="bold">Director: </span>
          <span class="director"></span>
        </div>
        <div>
          <span class="bold">Escritor: </span>
          <span class="writer"></span>
        </div>
        <div>
          <span class="bold">Cadena Original: </span>
          <span class="original"></span>
        </div>
        <div>
          <span class="bold">Sinapsis: </span>
          <span class="synapse"></span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
  <script type="text/javascript">
    WebFont.load({
      google: {
        families: ['Arvo|Pacifico']
      }
    });
  </script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/data.js"></script>
  <script type="text/javascript" src="../js/series.js"></script>

</body>

</html>
