<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Enlace Icono de Pestaña-->
  <link rel="icon" href="">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <!-- Enlace a hoja de estilo externa -->
  <link rel="stylesheet" href="../css/series.css">
  <title>Document</title>
</head>

<body>
  <div>
    <nav>
      <p>aquí va el nav</p>
    </nav>
  </div>
  <div class="color1">
    <div class="container title">
      <div class="row">
        <div class="col m12 s12">
          <p class="handwriting">
          </p>
          <p class="shadow noun">SERIES RETRO</p>
          <p class="handwriting">
            <span>Sentimientos de antaño</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="series-box">
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div>
        <h5 class="title uppercase center"></h5>
      </div>
      <div class="content">
        <div>
          <iframe class="video" width="450" height="280" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div>
          <span class="bold">Género: </span>
          <span class="genre"></span>
        </div>
        <div>
          <span class="bold">Temporadas:</span>
          <span class="seasons"></span>
        </div>
        <div>
          <span class="bold">Episodios: </span>
          <span class="episodes"></span>
        </div>
        <div>
          <span class="bold">Duración: </span>
          <span class="duration"></span>
        </div>
        <div>
          <span class="bold">Director: </span>
          <span class="director"></span>
        </div>
        <div>
          <span class="bold">Escritor: </span>
          <span class="writer"></span>
        </div>
        <div>
          <span class="bold">Cadena Original: </span>
          <span class="original"></span>
        </div>
        <div>
          <span class="bold">Sinapsis: </span>
          <span class="synapse"></span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
  <script type="text/javascript">
    WebFont.load({
      google: {
        families: ['Arvo|Pacifico']
      }
    });
  </script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/data.js"></script>
  <script type="text/javascript" src="../js/series.js"></script>

</body>

</html>